.custom-button {
    border: 1px solid #8e94a6;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    background: white;
}

.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.custom-checkbox:checked {
    background-color: #07cf00;
    border: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D"http://www.w3.org/2000/svg" viewBox%3D"0 0 16 16"%3E%3Cpath fill%3D"%23fff" d%3D"M6.002 11.026a.94.94 0 01-.646-.253l-3.76-3.57a.85.85 0 010-1.23.965.965 0 011.293 0L6.002 9.06l7.11-6.92a.965.965 0 011.293 0 .85.85 0 010 1.23l-7.758 7.565a.94.94 0 01-.646.253z"%3E%3C/path%3E%3C/svg%3E');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }