.footer {
  background-color: #253053;
  color: #f9fbff;
}

.footer h5 {
  color: #ffffff;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #cdd1d9;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .social-icons svg {
  font-size: 20px;
  fill: #f9fbff;
}

.footer-logo {
  max-height: 55px;
  width: auto;
}

.text-copy {
  color: #cdd1d9;
  font-size: 14px;
  margin: 4px 0px;
}

.btn-light {
  background-color: #ff5e29;
  color: #f9fbff;
  border: none;
}

.btn-light:hover {
  background-color: #ff9458;
}

.footer-links a {
  color: #cdd1d9;
  text-decoration: none;
}

.text-end a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .footer-logo {
    max-height: 40px;
  }

  .footer-links {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
  }

  .footer-links a {
    display: block;
    margin-bottom: 0.5rem;
  }

  .footer {
    padding: 2rem 1rem;
  }

  .footer h5 {
    font-size: 1.25rem;
  }

  .text-copy {
    font-size: 12px;
  }

  .btn-light {
    width: 100%;
    text-align: center;
  }

  .footer .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .footer .d-flex > div {
    width: 100%;
    text-align: center;
  }
}
