.nav-links .nav-link {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-links .nav-link:last-child {
  margin-right: 0;
}

.nav-links .dropdown-toggle {
  display: flex;
  align-items: center;
}

.nav-links .dropdown-toggle:focus {
  box-shadow: none;
}

.nav-links .dropdown-toggle::after {
  display: none;
}

.nav-links .dropdown-toggle[aria-expanded="true"] {
  background-color: transparent;
  border: none;
}

.btn-danger {
  border: none;
  border-radius: 16px;
  background: linear-gradient(to bottom, #ff9458, #ff5e29);
  transition: ease-in 0.5s;
}

.btn-danger:hover {
  background: linear-gradient(to bottom, #ff5e29, #ff9458);
  box-shadow: 0px 4px 6px rgba(255, 116, 24, 0.15);
}

.custom-login-btn {
  border-radius: 16px;
  background: linear-gradient(#f9fbff, #f9fbff) padding-box,
              linear-gradient(to bottom,  #ff5e29, #ff9458) border-box;
  border: 1px solid transparent;
  color: #ff5e29;
  transition: ease-in 0s;
}


.custom-login-btn:hover {
  background: linear-gradient(#ff5e29, #ff9458) padding-box,
              linear-gradient(to bottom,  #ff5e29, #ff9458) border-box;
  color: #f9fbff;
}