*{
  color: #474848;
  font-family: 'Poppins';
}

body {
  background-color: #f9fbff;
}

.content-wrapper {
  margin: 50px 80px;
}

.container-fluid{
  gap: 2%;
}

.bg-white {
  flex-basis: 70%;
  box-shadow: 0 .5rem 2rem rgba(68, 68, 68, 0.07);
}

.custom-bg {
  flex-basis: 28%;
  background-color: #eff3f3;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
